#records {
    max-height: 250px;
    overflow: scroll;
}

.JavaScript {
    background-color: greenyellow;
    font-style: bold;
}

.Vue {
    background-color: orange;
    font-weight: bold;
}

.Python {
    background-color: pink;
    font-weight: bold;
}

